#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Business_card {
  position: relative;
  width: 550px;
  height: 868px;
  background: #23252C;
}

.Portrait {
  position: absolute;
width: 317px;
height: 330px;
left: 116px;
top: 31px;
border-radius: 10px 10px 0px 0px;
}

.Main {
  position: absolute;
width: 317px;
height: 399px;
left: 116px;
top: 361px;
background: #F5F5F5;
}

.Footer {
  position: absolute;
width: 317px;
height: 64px;
left: 116px;
top: 758px;
background: #4F93A0;
border-radius: 0px 0px 10px 10px;
}